/* CSS for dashboard (same height for panels) */
.projectdoc-dashboard-panel-${shortId} .panel
{
	min-height: 11.5em;
}

.projectdoc-homepage-panel-${shortId} ul
{
	padding-left: 1.5em;
}

.projectdoc-dashboard-panel-${shortId} ul
{
	padding-left: 1.5em;
}