/* ========================================================================== */

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

form.aui .date-field {
    width: 95px;
}